

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <%= form_for @tweet, url: tweets_path do |f| %>
        <%= f.text_area :description, class: 'form-control', placeholder: "What's in your mind? " %><br>
        <%= f.submit 'Tweet'  %>
      <% end %>  
      <% @tweets.each do |t| %>
        <div class="row tweets-list">  
          <div class="col-md-4 col-lg-4">
              <img src="http://via.placeholder.com/150x150" >
          </div>
          <div class="col-md-8 col-lg-8">
              <%= current_user.name %><span><%= t.created_at %></span><br>
              <%= t.description %><br>
              <%= link_to 'Replies', tweet_replies_path(t) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-8 col-md-8">
    </div>
  </div>
</div>
