<div class="row"> 
    <div class="col-md-3 col-lg-3">
      <%= render :partial => "share/user-profile" %>
    </div>

    <div class="col-md-1 col-lg-1">
    </div>

    <div class="col-lg-8 col-md-8">
      <h1>Followings</h1>
      <div class="row">  
        <% @followings.each do |following| %>
            <div class="col-md-6 col-lg-6">
              <div class="row panel panel-default">
              <div class="col-md-4 col-lg-4">
                <%= image_tag following.avatar, class: "img-responsive" %>
              </div>
              <div class="col-md-8 col-lg-8">
                <%= link_to following.name, followings_user_path(following) %><br>
                <%= following.introduction %><br>
                <%= render :partial=>"share/follow-template", locals: {object: following} %>
              </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
</div>

