<div class="row"> 
    <div class="col-md-3 col-lg-3">
      <%= image_tag @user.avatar, class: "img-responsive" if @user.avatar? %>
      <%= @user.name %>
      <%= @user.introduction %><br>
      <%= link_to 'Edit Profile', edit_user_path(@user.id) %> 
      <h2><%= link_to 'Tweets ', tweets_user_path(@user) %><%= @user.tweets.size %></h2><br>
      <h2><%= link_to 'Followings ', followings_user_path(@user) %><%= @user.followings.size %></h2><br>
      <h2><%= link_to 'Followers ', followers_user_path(@user) %><%= @user.follower_count %></h2><br>
      <h2><%= link_to 'Likes ', likes_user_path(@user) %><%= @user.likes_count || 0 %></h2><br>
    </div>

    <div class="col-md-1 col-lg-1">
    </div>

    <div class="col-lg-8 col-md-8">
      <div class="row">  
        <% @user.followings.each do |following| %>
            <div class="col-md-6 col-lg-6">
              <div class="row panel panel-default">
              <div class="col-md-4 col-lg-4">
                <%= image_tag following.avatar, class: "img-responsive" %>
              </div>
              <div class="col-md-8 col-lg-8">
                <%= following.name %><br>
                <%= following.introduction %><br>
                <%= render :partial=>"share/follow-template", locals: {object: following} %>
              </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
</div>